body {
  padding-bottom: 40px;
  background-image: url('../images/coreai_transparent.png');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
}

.lead {
  text-align: center;
}

.features {
  list-style: none;
}

img.logo-small {
  width: 50px;
  height: auto;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

img.logo-small:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.container-narrow {
  margin: 150px auto 50px auto;
  max-width: 728px;
}

div.card {
  border: 0px;
}

.icons-grey {
  color: #bbbbbb;
}

.icons-orange {
  color: #ffb25f;
}

.icons-green {
  color: #28a745;
}

/* Spinner */
.loading-icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 50px auto;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.loading-icon:before {
  content: "\f110";
  font-family: FontAwesome;
  font-size: 50px;
  position: absolute;
  top: 0;
}

#fake-image {
  width: 150px;
  height: auto;
}

.selectpicker {
  font-size: 14px;
}

#selectpicker-label {
  font-size: 12px;
  color: #cf8230;
  font-weight: bold;
}

#results {
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
}

.results-heading {
  font-style: italic;
  color: darkblue;
}

@media (min-width: 576px) {
  .jumbotron {
      padding: 1rem 2rem !important;
  }
}
